[user]
	name = spireflux
	email = spireflux@gmail.com
[alias]
	s = status
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	cm = commit
[color]
	ui = true
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[url "https://"]
	insteadOf = git://
[commit]
	template = ~/.gitmessage
